/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
    display: inline-block;
    text-decoration: none;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 300px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1px;
    white-space: wrap;
    border-radius: 8px;
    cursor: pointer;
}

button:hover,
.button:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary {
    color: #FFF;
    filter: brightness(90%)
}

.button.button-primary:hover,
.button.button-primary:focus {
    color: #FFF;
    filter: brightness(90%)
}


/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
    padding: 0px 8px 3.5px 0px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}


/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Default (this is great for your own brand color!) */

.button.button-default {
    color: #FFFFFF;
    background-color: #0085FF
}

.button.button-default:hover,
.button.button-default:focus {
    filter: brightness(90%)
}


/* Discord */

.button.button-discord {
    color: #FFFFFF;
    background-color: #5865F2
}

.button.button-discord:hover,
.button.button-discord:focus {
    filter: brightness(90%)
}


/* Facebook */

.button.button-facebook {
    color: #FFFFFF;
    background-color: #1d7af3
}

.button.button-facebook:hover,
.button.button-facebook:focus {
    filter: brightness(90%)
}


/* Github */

.button.button-github {
    color: #FFFFFF;
    background-color: #381094
}

.button.button-github:hover,
.button.button-github:focus {
    filter: brightness(90%)
}


/* Instagram */

.button.button-instagram {
    color: #FFFFFF;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000)
}

.button.button-instagram:hover,
.button.button-instagram:focus {
    filter: brightness(90%)
}


/* LinkedIn */

.button.button-linkedin {
    color: #FFFFFF;
    background-color: #2867B2
}

.button.button-linkedin:hover,
.button.button-linkedin:focus {
    filter: brightness(90%)
}


/* Reddit */

.button.button-reddit {
    color: #000000;
    background-color: #D7DFE2
}

.button.button-reddit:hover,
.button.button-reddit:focus {
    filter: brightness(90%)
}


/* Snapchat */

.button.button-snapchat {
    color: #000000;
    background-color: #fffc00
}

.button.button-snapchat:hover,
.button.button-snapchat:focus {
    filter: brightness(90%)
}


/* Steam */

.button.button-steam {
    color: #FFFFFF;
    background-color: #171a21
}

.button.button-steam:hover,
.button.button-steam:focus {
    filter: brightness(90%)
}


/* Telegram */

.button.button-telegram {
    color: #FFFFFF;
    background-color: #199ae0
}

.button.button-telegram:hover,
.button.button-telegram:focus {
    filter: brightness(90%)
}


/* Twitter */

.button.button-twitter {
    color: #FFFFFF;
    background-color: #199ae9
}

.button.button-twitter:hover,
.button.button-twitter:focus {
    filter: brightness(90%)
}


/* YouTube */

.button.button-youtube {
    color: #FFFFFF;
    background-color: #333131
}

.button.button-youtube:hover,
.button.button-youtube:focus {
    filter: brightness(90%)
}


/* Website */

.button.button-website {
    color: #000000;
    background-color: #e0e0e0
}

.button.button-website:hover,
.button.button-website:focus {
    filter: brightness(90%)
}


/* Google Cloud Skills Boost */

.button.button-googlecloudskillsboost {
    color: #000000;
    background-color: #59b0d8
}

.button.button-googlecloudskillsboost:hover,
.button.button-googlecloudskillsboost:focus {
    filter: brightness(90%)
}


/* Keybr */

.button.button-keybr {
    color: #000000;
    background-color: #f3e077
}

.button.button-keybr:hover,
.button.button-keybr:focus {
    filter: brightness(90%)
}
/* Devfolio */

.button.button-devfolio {
    color: #ffffff;
    background-color: #2a60eb
}

.button.button-devfolio:hover,
.button.button-devfolio:focus {
    filter: brightness(90%)
}
/* StackExchange */

.button.button-stackexchange {
    color: #ffffff;
    background-color: #6628e2
}

.button.button-stackexchange:hover,
.button.button-stackexchange:focus {
    filter: brightness(90%)
}
/* StackOverflow */

.button.button-stackoverflow {
    color: #ffffff;
    background-color: #ff5900
}

.button.button-stackoverflow:hover,
.button.button-stackoverflow:focus {
    filter: brightness(90%)
}
/* Credly */

.button.button-credly {
    color: #ffffff;
    background-color: #f200ff
}

.button.button-credly:hover,
.button.button-credly:focus {
    filter: brightness(90%)
}


/* hackthebox */

.button.button-hackthebox {
    color: #FFFFFF;
    background-color: #1e2ada
}

.button.button-hackthebox:hover,
.button.button-hackthebox:focus {
    filter: brightness(90%)
}


/* hackerone */

.button.button-hackerone {
    color: #000000;
    background-color: #4bf13c
}

.button.button-hackerone:hover,
.button.button-hackerone:focus {
    filter: brightness(90%)
}


/* tryhackme */

.button.button-tryhackme {
    color: #000000;
    background-color: #72ade6
}

.button.button-tryhackme:hover,
.button.button-tryhackme:focus {
    filter: brightness(90%)
}


/* hackerrank */

.button.button-hackerrank {
    color: #000000;
    background-color: #77f068
}

.button.button-hackerrank:hover,
.button.button-hackerrank:focus {
    filter: brightness(90%)
}


/* geeksforgeeks */

.button.button-geeksforgeeks {
    color: #000000;
    background-color: #1eb2cc
}

.button.button-geeksforgeeks:hover,
.button.button-geeksforgeeks:focus {
    filter: brightness(90%)
}


/* hackerearth */

.button.button-hackerearth {
    color: #ffffff;
    background-color: #18446e
}

.button.button-hackerearth:hover,
.button.button-hackerearth:focus {
    filter: brightness(90%)
}


/* codechef */

.button.button-codechef {
    color: #000000;
    background-color: #c662b1
}

.button.button-codechef:hover,
.button.button-codechef:focus {
    filter: brightness(90%)
}


/* codeforces */

.button.button-codeforces {
    color: #000000;
    background-color: #bfee3f
}

.button.button-codeforces:hover,
.button.button-codeforces:focus {
    filter: brightness(90%)
}


/* google developer profile */

.button.button-gdc {
    color: #000000;
    background-color: #5daae9
}

.button.button-gdc:hover,
.button.button-gdc:focus {
    filter: brightness(90%)
}


/* leetcode */

.button.button-leetcode {
    color: #000000;
    background-color: #957cf0
}

.button.button-leetcode:hover,
.button.button-leetcode:focus {
    filter: brightness(90%)
}


/* showwcase */

.button.button-showwcase {
    color: #dfdfdf;
    background-color: #3f3f42
}

.button.button-showwcase:hover,
.button.button-showwcase:focus {
    filter: brightness(90%)
}


/* projects */

.button.button-projects {
    color: #000000;
    background-color: #5df1f7
}

.button.button-projects:hover,
.button.button-projects:focus {
    filter: brightness(90%)
}


/* photography */

.button.button-photography {
    color: #ffffff;
    background-color: #9f39ff
}

.button.button-photography:hover,
.button.button-photography:focus {
    filter: brightness(90%)
}


/* Codewars */

.button.button-codewars {
    color: #ffffff;
    background-color: #bc7171
}

.button.button-codewars:hover,
.button.button-codewars:focus {
    filter: brightness(90%)
}
